@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao Assessment da DR4</h1>
    <br><br />
    <a href="/Autor" class="btn btn-primary">Ir para página de Autores</a>
    <a href="/Livro" class="btn btn-primary">Ir para página de Livros</a>
</div>
